@import url('https://fonts.googleapis.com/css2?family=Cormorant&family=Cormorant+Upright&display=swap');
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: Helvetica, sans-serif;
    overflow-x: hidden;
}
.container{
    margin-top: 10vh;
    width: 100vw;
    height: auto;
}
.header {
    width: 100%;
    height: 65px;
    background-color: #060807;
    position: fixed;
    left: 0;
    right: 0;
    top: 0;
    z-index: 3;
}

.header ul {
    position: relative;
    list-style: none;
    margin-left: 100px;
}

.header li {
    display: inline-block;
    padding: 15px 20px;
}

.header li:hover {
    background-color: #313331;
}

.header li a {
    font-family: 'Cormorant Upright', serif;
    font-size: 22px;
    text-decoration: none;
    color: white;
}

.hero {
    width: 100%;
    height: 90vh;
    background-color: #030403;
}

.hero-image {
    background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url("./image/bennington_cover.jpg");
    height: 100%;
    width: 60%;
    background-position: center;
    background-repeat: no-repeat;
    background-size: contain;
    position: relative;
    margin: auto;
}

.hero-text {
    text-align: center;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: white;
    font-family: Helvetica;
}

.hero-text h1 {
    font-size: 50px;
    letter-spacing: 2px;
    text-transform: uppercase;
}

.hero-text p {
    font-size: 25px;
    font-family: 'Cormorant Upright', serif;
    font-style: italic;
}

.main {
    padding: 50px;
}

.main .byword {
    position: relative;
    width: 45vw;
}

.main .byword p {
    font-family: 'Cormorant Upright', serif;
    font-size: 45px;
    font-style: oblique;
}

.main .byword span {
    font-size: 16px;
    color: #a4947e;
}

.about {
    position: relative;
    width: 100%;
    height: 400px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 30px;
}

.about-description, .about-figure {
    margin: 0;
    width: 40%;
    height: 400px;
}

.about-description {
    position: relative;
    padding: 30px;
}

.about-description h2 {
    font-size: 48px;
    font-weight: normal;
    color: #a4947e;
    font-family: 'Cormorant Upright', serif;
    padding-bottom: 20px;
    font-style: italic;
}

.about-description span {
    font-size: 12px;
    font-style: italic;
    color: gray;
}

.about-description p {
    font-size: 15px;
    line-height: 25px;
    margin-bottom: 5px;
}

.about-description .read-more {
    color: #a4947e;
    font-family: 'Cormorant Upright', serif;
    display: inline-block;
    position: absolute;
    right: 0px;
    font-size: 24px;
    text-decoration: none;
    font-style: italic;
}

.about-description .read-more hr {
    display: inline-block;
    width: 70px;
    margin-left: 10px;
}

.about-figure {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.about-figure #image {
    height: auto;
    max-width: 90%;
    position: relative;
}


.about-figure figcaption {
    font-size: 12px;
    font-style: italic;
    color: gray;
    text-align: center;
}
.quote {
    width: 100%;
    height: 330px;
    background-color: #030403;
    display: flex;
    justify-content: center;
}

.quote-image {
    position: relative;
    width: 50%;
    height: 100%;
    overflow: hidden;
}

.quote-image img {
    position: relative;
    text-align: center;
    left: -100px;
    bottom: 0px;
    width: 120%;
}

.quote .byword {
    width: 50%;
    padding: 40px;
}

.quote .byword p {
    color: white;
    font-size: 30px;
    font-family: 'Cormorant Upright', serif;
    font-style: oblique;
}

.quote .byword span {
    font-size: 16px;
    color: #a4947e;
}

.video {
    position: relative;
    background-color: #e4dfd8;
    width: 100%;
    height: 600px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.video h2 {
    font-family: 'Cormorant Upright', serif;
    font-size: 48px;
    font-weight: normal;
    font-style: italic;
    color: white;
    margin: 30px;
}

.youtube {
    width: 55%;
    height: 45%;
}

.html-video {
    width: 100%;
    height: auto;
}

.youtube-video {
    position: absolute;
    top: 0;
    bottom: 0;
    right: 0;
    left: 0;
    width: 100%;
    height: 100%;
}

.flexible-video {
    position: relative;
    width: 100%;
    height: 0;
    padding-top: 56.25%;
}

.video .view-more {
    color: #a4947e;
    font-family: 'Cormorant Upright', serif;
    display: inline-block;
    position: absolute;
    right: 10px;
    bottom: 50px;
    font-size: 24px;
    text-decoration: none;
    font-style: italic;
}

.video .view-more hr {
    display: inline-block;
    width: 70px;
    margin-left: 10px;
}

footer {
    background-color: #030403;
    color: white;
    letter-spacing: 1px;
    position: relative;
    bottom: 0;
    left: 0;
    right: 0;
    height: 50px;
    line-height: 50px;
    text-align: center;
}

footer p {
    margin: 0;
}
footer a{
    text-decoration: none;
    color: white;
}

footer span {
    color: crimson;
}
@media (max-width:1300px){
    .quote{
        height: 250px;
    }
    
    .quote-image {
        width: 40%;
        height: 100%;
    }
    
    .quote .byword {
        width: 60%;
        padding: 35px;
    }
}
@media (max-width: 1145px){
    .about-description {
        width: 50%;
        padding: 15px;
    }
    
    .about-description h2 {
        font-size: 45px;
        padding-bottom: 15px;
    }
    
    .about-description p {
        font-size: 20px;
        line-height: 20px;
        margin-bottom: 5px;
    }
    .quote{
        height: 200px;
    }
    
    .quote-image {
        width: 70%;
    }
    .quote .byword {
        width: 75%;
        padding:0
    }
    .quote .byword p{
        margin: 10px;
        font-size: 25px;
    }
} 
@media (max-width: 835px) {
    .about-description p {
        font-size: 15px;
        line-height: 15px;
    }
    .quote-image {
        width: 60%;
    }
    .quote .byword {
        width: 80%;
    }
    .quote .byword p{
        font-size: 23px;
    }
    .video {
        height: 550px;
    }
}
@media (max-width: 768px) {

    .header ul {
        margin-left: 10px;
    }
    .hero-text h1 {
        font-size: 40px;
    }
    
    .hero-text p {
        font-size: 20px;
    }
    
    .about-description p {
        font-size: 15px;
        line-height: 15px;
        margin-bottom: 5px;
    }
    .about-figure {
        width: 50%;
        align-items: center;
        justify-content: center;
    }
    .about-figure figcaption{
        margin-top: -60px;
    }
    .chest {
        top: 40px;
        width: 100%;
        height: 70%;
    }
    .about-figure #image {
        height: auto;
        max-width: 98%;
    }
    .quote-image {
        width: 65%;
        z-index: 2;
        background-color: transparent;
    }
    .about-figure figcaption {
        font-size: 12px;
    }
    .quote .byword p{
        font-size: 20px;
    }
    .video {
        height: 500px;
    }
}
@media (max-width: 600px) {
    .hero-image {
        height: 100%;
        width: 100%;
    }
    .hero-text h1 {
        font-size: 35px;
    }
    .hero-text p {
        font-size: 18px;
    }
    .main{
        padding-bottom: 0px;
    }
    .main .byword{
        width: 90%;
    }
    .about {
        display: flex;
        flex-direction: column;
        height: auto;
        align-items: start;
    }
    .about-description{
        width: 60%;
        height: auto;
    }
    .about-description p{
        line-height: 20px;
    }
    .about-figure{
        position: relative;
        width: 100%;
    }
    .about-figure #image {
        height: auto;
        max-width: 100%;
    }
    .about-figure figcaption{
        margin-top: 50px;
    }
    .quote{
        flex-direction: column;
        height: auto;
    }
    
    .quote-image {
        width: 100%;
    }
    .quote .byword {
        width: 100%;
        padding: 25px;
    }
    .quote .byword p{
        font-size: 30px;
    }
    .video {
        height: 480px;
    }
    .youtube{
        width: 70%;
    }
}
@media (max-width: 500px) {
    .hero{
        height: 85vh;
    }
    .main .byword{
        margin-left: 10px;
        margin-top: 10px;
    }
    .main{
        padding: 0;
    }
    .about-description{
        margin-left: 10px;
        width: 90%;
    }
    .about-figure figcaption{
        margin-top: 50px;
    }
    .video {
        height: 420px;
    }
    .video h2{
        margin: 15px;
    }
    .video .view-more{
        bottom: 20px;
        font-size: 18px;
    }
    .youtube{
        width: 90%;
    }
}
@media (max-width: 380px) {
    .hero{
        height: 70vh;
    }
    .hero-text h1 {
        font-size: 25px;
    }
    .hero-text p {
        font-size: 15px;
    }
    .main .byword{
        width: 90%;
    }
    .main .byword p{
        font-size: 35px;
    }
    .about-figure{
        height: 300px;
    }
    .about-figure .chest{
        margin-top:0;
        height: 200px;
    }
    .video {
        height: 380px;
    }
}

